includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
        - config
    excludePaths:
        - src/Commands/InstallCommand.php
    ignoreErrors:
        -
            identifier: property.defaultValue
            message: '#Property .+::\$view \(view-string\) does not accept default value of type string\.#'
            paths:
                - src/Components
                - src/Widgets
